* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

#categories {
    margin: auto;
}

#category-wrapper {
    width: 50%;
    float: left;
}

#todo-wrapper {
    width: 50%;
    float: right;
    padding: 1em;
}