<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <form id="main-form">
        <input type="text" id="description" name="description" placeholder="Description">
        <input type="submit" value="Add todo">
    </form>
    <div id="error" class="hidden">Something went wrong!</div>
    <ul id="todos">
        {% for todo in data %}
        <li id="{{ todo.id }}">
            <input type="checkbox" data-id="{{ todo.id }}"  class="check" 
            {% if todo.completed %} checked {% endif %}>
            {{ todo.description }}
            <button class="delete" data-id="{{ todo.id }}">&cross;</button>
        </li>
        {% endfor %}
    </ul>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>